#*#
**/.DS_Store
*.hi
*.log
*.o
*.prof
*.swp
*.tix
*~
.#*
.DS_Store
.cabal-sandbox
.hpc
cabal-dev/
cabal.sandbox.config
dist*/
docs/templates/out
site_key.txt
sitekey.txt
test/*.json
test/dist*
test/dist/snaplets
test/non-cabal-appdir/snaplets/foosnaplet
test/test-cabal-dev
test/test-snap-exe
