#*#
**/.DS_Store
*.hi
*.log
*.o
*.prof
*.swp
*.tix
*~
.#*
.DS_Store
.hpc
cabal-dev/
dist*/
docs/templates/out
sitekey.txt
site_key.txt
test/dist*
test/*.json
test/test-cabal-dev
test/test-snap-exe
test/dist/snaplets
test/non-cabal-appdir/snaplets/foosnaplet
