# Modified from https://kodimensional.dev/github-actions

name: CI

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - "**.md"
      - "*.sh"
      - "CODEOWNERS"
      - "CONTRIBUTORS"
      - "LICENSE"
      - "extra/**"
  push:
    branches:
      - 'master'
  schedule:
    # Additionally run once per week (At 00:00 on Sunday) to maintain cache.
    - cron: '0 0 * * 0'

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "8.8"
          - "8.10"
          - "9.0"
          - "9.2"
          - "9.4"
        include:
          - { os: macOS-latest,   ghc: "9.4" }

          # HsOpenSSL fails to build on Windows without openssl.
          # - { os: windows-latest, ghc: "latest" }

    steps:
      - uses: actions/checkout@v3

      - name: Setup Haskell
        uses: haskell/actions/setup@v2
        id: setup-haskell-cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Configure
        run: |
          cabal configure --enable-tests --enable-benchmarks --enable-documentation --test-show-details=direct --write-ghc-environment-files=always

      - name: Freeze
        run: |
          cabal freeze

      - uses: actions/cache@v3
        name: Cache
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          key:          ${{ runner.os }}-${{ matrix.ghc }}-cabal-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-${{ matrix.ghc }}-cabal-

      - name: Install dependencies
        run: |
          cabal build all --only-dependencies

      - name: Build
        run: |
          cabal build all

      - name: Test
        run: |
          cabal test all

      - name: Documentation
        if: matrix.ghc >= '9.4'
        run: |
          cabal haddock

  stack:
    name: stack / ghc ${{ matrix.ghc }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # GHC version must match https://www.stackage.org/nightly
          - stack: "latest"
            ghc: "9.4"

    steps:
      - uses: actions/checkout@v3

      - uses: haskell/actions/setup@v2
        name: Setup Haskell Stack
        with:
          ghc-version: ${{ matrix.ghc }}
          stack-version: ${{ matrix.stack }}

      - name: Configure
        run: |
          cat <<EOF > stack.yaml
            packages:
              - '.'
            resolver: nightly-2022-11-08
            extra-deps: ['snap-server-1.1.2.1']
          EOF
          stack config set system-ghc true --global
          stack config set resolver nightly

      - uses: actions/cache@v3
        name: Cache
        with:
          path: |
            ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-stack

      - name: Install dependencies
        run: |
          stack build --test --bench --no-run-tests --no-run-benchmarks --only-dependencies

      - name: Build
        run: |
          stack build --test --bench --no-run-tests --no-run-benchmarks

      - name: Test
        run: |
          stack test
